<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script>
            var tag = document.createElement('script');
            tag.src = "https://www.youtube.com/iframe_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

            function onYouTubeIframeAPIReady() {
                player = new YT.Player('player', {
                    height: '390',
                    width: '640',
                });
            }
        </script>

        {% load gears %}
        {% js_asset_tag "js/main.js" %}
        {% css_asset_tag "css/main.css" %}

        {% include "video-template.html" %}
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="container">
            <h1>Video List</h1>

            <div id="videos">
                <div id="video-list">
                </div>

                <div id="player">
                </div>
            </div>

            <div id="messages">
            </div>

            <form id="add-video-form" class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="control-label" for="url">Video URL</label>
                    <div class="control-container">
                        <input id="url" type="text" placeholer="URL">
                    </div>
                </div>

                <div id="add-messages" class="form-group">
                </div>

                <div class="form-group">
                    <div class="button-container">
                        <input id="submit-button" type="button" value="Submit">
                    </div>
                </div>
            </form>
        </div>

    </body>
</html>
